/* 
style.css
---------
Par Hortense Lemaire
*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table 
{
	border-collapse: collapse;
	border-spacing: 0;
}
@font-face
{
    font-family: 'kiona';
    src: url(./Kiona-Regular.ttf) format(.ttf);
    font-weight: normal;
    font-style: normal;
}
@font-face
{
    font-family: 'roboto';
    src: url(./Roboto-Regular.ttf) format(.ttf);
    font-weight: normal;
    font-style: normal;
}
body
{
    display: flex;
    flex-direction: column;
}
.header
{
    max-height: 350px;
    background-image: url("./banniere.png");
    margin-bottom: 3rem;
}
.reseaux
{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    text-align: right;
    justify-content: space-around;
    margin-top: 1rem;
    margin-bottom: 3rem;
    margin-right: 2rem;
    margin-left: auto;
    max-width: 150px;
}
.reseaux li
{
    font-size: 2rem;
    margin-left: 0.2rem;
}
.logo
{
    display: flex;
    justify-content: center;
    align-content: center;
}
.logo img
{
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
    align-content: space-around;
    margin-bottom: 3rem;
}
.header nav
{
    background-color: white;
    margin-top: 1rem;
    margin-bottom: 2rem;
}
.menu
{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.menu li
{
    font-family: 'kiona', Georgia, Times, 'Times New Roman', serif;
    font-size: 2rem;
    justify-content: space-around;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}
.menu li a
{
    text-decoration: none;
    color: black;
}
.menu li a:hover
{
    color: black;
    text-decoration: underline;
}
.carroussel
{
    position: relative;
    max-width: auto;
    margin-top: 5rem;
    margin-bottom: 5rem;
}
#slider {
    position: relative;
    max-width: auto;
    overflow: hidden;
    height: 400px;
}

#slides {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    max-height: 100%;
    /*CSS3 keyframes animation*/
    animation-name: slide;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

#slides:hover {
    animation-play-state: paused; /* Mise en pause de l'animation */
}

#slides figure {
    display: inline-block;
    width: 100vw;
    margin: 0;
}

#slides figure img {
    width: 50%;
    /*Centrer l'image verticalement si celle-ci ne peut être affichée totalement*/
    align-content: center;
    justify-content: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#slides figure figcaption {
    position: absolute;
    bottom: 0;
    padding: 2.5em 0;
    text-align: center;
    width: inherit;
    color: white;
}

.dots_commands  {
    position: absolute;
    bottom: 0;
    width: 100vw;
    padding:0;
    margin: 0;
    text-align: center;
}

.dots_commands li {
    display: inline;
    padding:0; margin:0;
}

.dots_commands label {
    position: relative;
    display: inline-block;
    height:8px; width: 8px;
    margin: 0 5px;
    text-indent: -9999px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 1px 2px rgba(0,0,0,0.55) inset;
    cursor: pointer;
}

.dots_commands label:active {
    outline: none;
    background: dodgerblue;
}

#play {
    position: absolute;
    cursor: pointer;
    bottom: 2em;
    right: 2em;
    width: 0;
    height: 0;
    border-top: 1em solid transparent;
    border-bottom: 1em solid transparent;
    border-left: 1em solid rgba(255,255,255,0.7);
    display: none;
    text-indent: -9999px;
}

input[type="radio"] {
    display: none;
}

input[type="radio"]#show_slide1:checked ~ nav .dots_commands li:nth-of-type(1) label,
input[type="radio"]#show_slide2:checked ~ nav .dots_commands li:nth-of-type(2) label,
input[type="radio"]#show_slide3:checked ~ nav .dots_commands li:nth-of-type(3) label {
    outline: none;
    background: dodgerblue;
}

input[type="radio"]#show_slide1:checked ~ div#slides {
    animation: none;
    left: 0;
}

input[type="radio"]#show_slide2:checked ~ div#slides {
    animation: none;
    left: -100vw;
}

input[type="radio"]#show_slide3:checked ~ div#slides {
    animation: none;
    left: -200vw;
}

input[type="radio"]:not(:nth-last-of-type(1)):checked ~ nav label#play {
    display: block;
}

input[type="radio"]#play:checked ~ div#slides {
    animation-name: slide;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes slide {
    0%, 20%, 100% {
        left: 0; /*1ère image*/
    }
    35%, 50% {
        left: -100vw; /*2ème image*/
    }
    70%, 95% {
        left: -200vw; /*3ème image*/
    }
}
.features h1
{
    font-size: 4rem;
    font-family: 'kiona', Georgia, Times, 'Times New Roman', serif;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5rem;
    text-align: center;
}
.features p
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
}
.features div
{
    display: flex;
    flex-direction: row;
    margin-left: 11rem;
    margin-right: 11rem;
    margin-bottom: 5rem;
}
#left
{
    margin-bottom: 1.5rem;
}
#left img
{
    margin-left: 2rem;
    max-width: 500px;
}
#left p
{
    margin-left: 3rem;
    max-width: 400px;
    margin-top: 10rem;
    border: 3px #844b1c solid;
    padding-top: 4rem;
    padding-left: 1rem;
    height: 150px;
}
#right img
{
    margin-right: 2rem;
    max-width: 500px;
}
#right p
{
    margin-left: 2rem;
    max-width: 400px;
    margin-top: 6rem;
    margin-right: 7rem;
    border: 3px #844b1c solid;
    padding-top: 3rem;
    padding-left: 1rem;
    padding-right: 1rem;
    height: 150px;
}
.avisclients ul
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 5rem;
}
.avisclients li
{
    font-size: 3rem;
}
.avis
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 5rem;
}
.avis1
{
    display: flex;
    flex-direction: column;
    margin-right: 7rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
}
.avis1 h3
{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.avis2
{
    display: flex;
    flex-direction: column;
    margin-left: 7rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
}
.avis2 h3
{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.avisclients h3
{
    font-size: 5rem;
    margin-bottom: 1.5rem;
}
.container
{
    display: block;
    width: 300px;
    height: 300px;
    background-color:#e5d7cd ;
}
.container p
{
    padding: 1rem 1rem 1rem 1rem;
}
.satisfaction
{
    background-image: url("./bannieresatis.png");
    height: 350px;
    width: 100%;
    margin-bottom: 5rem;
}
.satisfactiontitle
{
    font-size: 3rem;
    text-align: center;
    margin-bottom: 2rem;
    font-family: 'roboto',sans-serif;
}
#calltoaction button
{
    margin-left: 3rem;
    width: 500px;
    height: 100px;
    font-size: 2rem;
    background-color:  #844b1c;
    color: white;
    text-transform: uppercase;
    border: 0px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 9rem;
}
#calltoaction button:hover
{
    color: black;
    background-color: white;
}
#calltoaction 
{
    text-decoration: none;
}
.services ul
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5rem;
}
.services li
{
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
}
.services li i
{
    font-size: 5rem;
    text-align: center;
}
.footer
{
    padding-top: 1rem;
    background-color: #b7d4e5;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 5rem;
}
.footer h5
{
    font-size: 1.1rem;
}
.footer ul
{
    margin-top: 1rem;
}
.footer li
{
    font-size: 0.9rem;
    margin-top: 0.2rem;
}
.socialsmedia ul
{
    display: flex;
    flex-direction: row;
}
.socialsmedia li
{
    font-size: 1.5rem;
    margin-right: 1rem;
}
@media all and (max-width: 1100px)
{
    .menu li
    {
        font-size: 1rem;
    }
    #slides figure img {
        width: 90%;
    }
    .features div
    {
        display: flex;
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 5rem;
    }
    #left img
    {
        margin-left: auto;
        margin-right: auto;
        max-width: 400px;
    }
    #left p
    {
        margin-left: auto;
        margin-right: auto;
        margin-top: 1rem;
    }
    #right img
    {
        margin-right: auto;
        margin-left: auto;
        max-width: 400px;
    }
    #right p
    {
        margin-left: auto;
        margin-right: auto;
        max-width: 400px;
        margin-top: 1rem;
        padding-top: 3rem;
        margin-bottom: 1rem;
    }
    .avis
    {
        display: flex;
        flex-direction: column;
    }
    .avis1
    {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 1rem;
    }
    .avis2
   {
    margin-left: auto;
    margin-right: auto;
    }
    .satisfaction
    {
        background: white;
    }
    .satisfactiontitle
    {
        font-size: 2rem;
    }
    #calltoaction button 
    {
        max-width: 400px;
        font-size: 1.5rem;
    }
}
@media all and (max-width: 500px)
{
    .menu li
    {
        font-size: 0.8rem;
    }
    #slides figure img {
        width: 90%;
    }
    .features div
    {
        display: flex;
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 5rem;
    }
    #left img
    {
        margin-left: auto;
        margin-right: auto;
        max-width: 300px;
    }
    #left p
    {
        margin-left: auto;
        margin-right: auto;
        margin-top: 1rem;
    }
    #right img
    {
        margin-right: auto;
        margin-left: auto;
        max-width: 300px;
    }
    #right p
    {
        margin-left: auto;
        margin-right: auto;
        max-width: 300px;
        margin-top: 1rem;
        padding-top: 3rem;
        margin-bottom: 1rem;
    }
    .avis
    {
        display: flex;
        flex-direction: column;
    }
    .avis1
    {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 1rem;
    }
    .avis2
   {
    margin-left: auto;
    margin-right: auto;
    }
    .satisfaction
    {
        background: white;
    }
    .satisfactiontitle
    {
        font-size: 2rem;
    }
    #calltoaction button 
    {
        max-width: 300px;
        font-size: 1rem;
    }
    .services li h4
    {
        font-size: 1rem;
    }
    .services i
    {
        font-size: 1.5rem;
    }
    .footer
    {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .foot
    {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
}